html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: hidden;
}

#map_canvas {
    height: 100%;
    width: 100%;
}
#control_panel {
    position: absolute;
    top: 34px;
    right: 5px;
    width: 250px;
}
#searcharea {
    background-color: white;
    position: absolute;
    left: 110px;
    top: 22px;
    border: 1px solid #999999;
    font-family: arial, sans-serif;
    padding: 5px;
    box-shadow: 1px 1px 3px #999999;
}
#search {
    width: 364px;
}
#gazlist {
    padding: 0;
}
#gazul {
    list-style: none;
    padding-left: 0;
    font-size: 12px;
    margin: 0;
}
#gazlistresults {
    
    
    clear: left;
    background-color: white;
}

#gazul li {
    border-bottom: 1px dotted #c7c7c7;
    padding: 3px 10px;
    cursor: pointer;
}

.chk {
    float: left;
    width: 45%;
    margin-right: 1%;
    font-size: 11px;
}

#gazlistroadlist {
    margin: 4px;
    width: 130px;
}

.hidden {
    display: none;
}

#gazlistcontrols {
    padding: 4px;
    border-bottom: 1px solid #4297d7;
}

#gazlistoptions {
    height: 123px;
    display: none;
}
.gaz-list-item:hover {
    background-color: #4297d7;
}

.jah-dialog {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.jah-dialog-toolbar {
    height: 17px;
    padding: 5px;
    cursor: move;
    border: 1px solid #336699;
    background: #0078ae url(custom-theme/images/ui-bg_highlight-hard_45_0078ae_1x100.png) 50% 50% repeat-x;
    font-weight: normal;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    color: #ffffff;
}
#streetview-container {
    height: 390px;
    width: 600px;
    border: 1px solid #336699;
    border-top: none;
}
.jah-dialog-controls {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: default;
}
.jah-dialog-icon {
    display: inline-block;
    margin: 3px;
}
.jah-dialog-icon:hover {
    background-color: #114477;
}
.jah-minimized-window {
    height: 17px;
    width: 190px;
    position: absolute;
    bottom: 1px;
    padding: 5px;
    border: 1px solid #336699;
    background: #0078ae url(custom-theme/images/ui-bg_highlight-hard_45_0078ae_1x100.png) 50% 50% repeat-x;
    font-weight: normal;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    color: #ffffff;
}
#streetview-minimized {
    left: 40px;
}
#camera-minimized {
    left: 260px;
}
#distance-minimized {
    left: 480px;
}
#camera-frame {
    height: 345px;
    width: 384px;
}
#distance-measure-btn {
    height: 20px;
    width: 20px;
    background-image: url(https://maps.gstatic.com/mapfiles/ftr/misc/distance_btn.png);
    background-position: -40px 0px;
    background-repeat: no-repeat no-repeat;
    position: absolute;
    left: 35px;
    top: 364px;

}
#distance-measure-btn:hover {
    background-position: -20px 0px;
}
#distance-measure-btn.active {
    background-position: 0 0;
}
#distance-container {
    height: 300px;
    width: 325px;
    border: 1px solid #114477;
    border-top: none;
    background-color: white;
    font-family: Verdana,Arial,sans-serif;
}
#distance-clear-btn {
    position: absolute;
    top: 36px;
    right: 7px;
}
#distance-result {
    padding: 17px 14px;
    border-bottom: 1px solid #336699;
}
#distance-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.distance-list-item {
    padding: 10px 5px;
    position: relative;
    border: 1px solid #c7c7c7;
}
.distance-list-remove-btn {
    position: absolute;
    right: 5px;
    top: 8px;
}
.cursor {
    cursor: crosshair !important;
}
